/* Styles for the form */
h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  width: 400px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  text-align: center;
  margin: 0 auto; /* Added to center align the sections */
}

.section h2 {
  margin: 0;
  padding: 10px;
  text-align: center;
}

.form-sections {
  display: flex; /* Added to create a flex container */
  justify-content: center; /* Added to center align the sections horizontally */
}

form {
  margin: 0 auto;
  max-width: 300px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"],
input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button[type="submit"] {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

/* Styles for the result div */
.result {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}


.notification {
  background-color: #eaeaea;
  padding: 10px;
  margin-bottom: 10px;
}